DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require&channel_binding=require
LITELLM_MASTER_KEY=REPLACE_ME
LITELLM_SALT_KEY=REPLACE_ME
LITELLM_IMAGE_TAG=v1.83.10-stable
STORE_MODEL_IN_DB=True
TS_BIND_IP=REPLACE_WITH_TAILSCALE_IP
UI_USERNAME=REPLACE_ME
UI_PASSWORD=REPLACE_ME
